<%- include('header'); -%>

    <li><%= text %></li>
    <li><%= date_time %></li>
    <li><%= city %></li>
    <li><%= state %></li>
    <li><%= shape %></li>
    <li><%= duration %></li>
    <li><%= summary %></li>
    <form action="/sighting/<%= index %>/delete?_method=DELETE" method="POST">
      <input type="submit" value="Delete" />
    </form>
  </body>
</html>
<%- include('footer'); -%>