<%- include('header'); -%>

<div class="container">
  <div class="form-container">
    <form action="/sighting/<%= index %>/edit?_method=PUT" method="POST">
      <label for="text">text:</label><br />
      <textarea id="text" name="text"><%= text %></textarea><br />

      <label for="date_time">date & time:</label><br />
      <input
        type="text"
        id="date_time"
        name="date_time"
        value="<%= date_time %>"
      /><br />

      <label for="city">city:</label><br />
      <input type="text" id="city" name="city" value="<%= city %>" /><br />

      <label for="state">state:</label><br />
      <input type="text" id="state" name="state" value="<%= state %>" /><br />

      <label for="shape">shape:</label><br />
      <input type="text" id="shape" name="shape" value="<%= shape %>" /><br />

      <label for="duration">duration:</label><br />
      <input
        type="text"
        id="duration"
        name="duration"
        value="<%= duration %>"
      /><br />

      <label for="summary">summary:</label><br />
      <input
        type="text"
        id="summary"
        name="summary"
        value="<%= summary %>"
      /><br />
      <br />

      <input type="submit" value="Submit" />
    </form>
  </div>
</div>
<%- include('footer'); -%>
