<%- include('header'); -%>

    <div class="container">
      <div class="sighting">
        <h2><%= sighting.text %></h2>
        <p><%= sighting.date_time %></p>
        <p><%= sighting.city %>, <%= sighting.state %></p>
        <p>Shape: <%= sighting.shape %></p>
        <p>Duration: <%= sighting.duration %></p>
        <p><%= sighting.summary %></p>
      </div>
    </div>
  </body>
</html>

<%- include('footer'); -%>