<%- include('header'); -%>

    <% for (let i = 0; i < currentShapeSightings.length; i++) {%>
    <div class="sighting-entry">
      <h4><%= currentShapeSightings[i].text %></h4>
      <p><%= currentShapeSightings[i].date_time %></p>
      <p><%= currentShapeSightings[i].city %></p>
      <p><%= currentShapeSightings[i].state %></p>
      <p><%= currentShapeSightings[i].shape %></p>
      <p><%= currentShapeSightings[i].duration %></p>
      <p><%= currentShapeSightings[i].summary %></p>
    </div>
    <% } %>
  </body>
</html>

<%- include('footer'); -%>